<!--
  Generated template for the FeedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Feed</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let filme of lista_filmes">

    <ion-item>
      <ion-avatar item-start>
        <img [src]=" 'https://image.tmdb.org/t/p/w500/' + filme.backdrop_path ">
      </ion-avatar>
      <h2 class="feedTitle">{{filme.title}}</h2>
      <p class="feedDate">{{filme.release_date}}</p>
    </ion-item>

    <img [src]=" 'https://image.tmdb.org/t/p/w300/' + filme.poster_path ">

    <ion-card-content>
      <p>{{filme.overview}}</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
        <ion-icon name="thumbs-up"></ion-icon>
        <div></div>
      </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
        <ion-icon name="text"></ion-icon>
        <div></div>
      </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
         
        </ion-note>
      </ion-col>
    </ion-row>

  </ion-card>
</ion-content>