<!--
  Generated template for the IntroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content>

  <ion-slides pager>

    <ion-slide class="slideImage" padding>
      <img src="http://www.rodosoft.com.br/wp-content/uploads/2016/02/rodoviaria.porto_.alegre.app_.fotografia.jpg" alt="img1">
      <h2>Testando</h2>
      <div>
        <p>Testando as funcionalidades do ionic teste teste teste </p>
      </div>
      <div>
        <a (click)="goToTabsPage()">
          <button ion-button>
            Tabs Page
          </button>
        </a>
      </div>
    </ion-slide>

    <ion-slide class="slideImage" padding>
      <img src="http://www.alperdemirbas.net/images/mobile-phone-application-development-icon.png" alt="img2">
      <h2>Slide</h2>
      <div>
        <p>Testando as funcionalidades do ionic</p>
      </div>
    </ion-slide>

    <ion-slide class="slideImage" padding>
      <img src="http://www.smartme.com.tr/wp-content/uploads/2015/07/application-support-maintain.jpg" alt="">
      <h2>no App</h2>
      <div>
        <p>Ficou curioso? <strong>Veja mais</strong></p>
      </div>
    </ion-slide>

  </ion-slides>

</ion-content>